/* Common Styles */

#background{
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    /* opacity: 2; */
    visibility: visible;
    z-index: 400;
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}
#signup, #login, #forgotPassword{
    background-color: white;
    width: 25%;
    padding-bottom: 2%;
    position: sticky;
    z-index: 500;
    margin-left: 76%;
    margin-top: -1%;
}
h3{
    color: white;
    font-size: 24px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
a>i:hover{
    transform : rotate(-45deg);
}
span{
    color: red;
}
label{
    margin-bottom: 3%;
    font-family: PT Sans, Arial, Helvetica, sans-serif;
}
#firstName,#lastName,#email,#password{
    margin-bottom: 10%;
    height: 35px;
}
button{
    padding: 4%;
    width: 100%;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5%;
}
button:hover{
    background-color: black;
    color: white;

}


/* Navbar */

body{
    padding: 0px;
    margin: 0px;
    background-image: url("https://cdn.shopify.com/s/files/1/0449/5225/6667/files/gray_bg.jpg?v=1600154658");
}
#topInfo{
    display: flex;
    height: 30px;
    background-color: #437111;
    justify-content: center;
    align-items: center;
    color: white;
}
#nav{
    height: 70px;
    background-color: #eeeeea !important;
    display: flex;
    z-index: 1000;
    position: sticky;
    top: -0.5%;

}
#leftNav{
    font-size: 17px;
   
}
#leftNav>select{
    margin-right: 15px;
}
#nav80{
   width: 80%;
   margin: auto;
   display: flex;
   justify-content: space-between;
}
#showNav{
   width: 66px;
   border: 0px;
   border-radius: 5px;
   background-color: #eeeeea!important;
}
#learnNav{
width: 74px;
   border: 0px;
   border-radius: 5px;
   background-color: #eeeeea!important;
}
#grow{
    text-decoration: dashed;
    color: black;
    font-size: 15px;
    
}
#logoNav{
   width: 100px;
   
}
#rightNav>a>img{
   height: 20px;
   margin-left: 14px;
   border-radius: 15px;
}
#recommends{
  
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Oleo Script', cursive;
}
#recommends>h3>span>img{
 width: 160px;
 height: 40px
}


/* Signup Page */

#signup>div:nth-child(1){
    background-color: #000;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 20px;
    padding-top: 15px;
    margin-bottom: 5%;
    flex-wrap: wrap;
}
#signup>div:nth-child(2){
    color: #FFF;
    border-color: #2d5073;
    background-color: #3b5998;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
#signup>div:nth-child(3){
    color: #FFF;
    border-color: #c23321;
    background-color: #dd4b39;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;                                                  
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
#signup>div:nth-child(4){
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
#signup>div:nth-child(5){
    width: 80%;
    margin: auto;
    margin-top: 10%;
}
#signup hr{
    width: 80%;
}
#signup div>p:nth-child(2){
    font-weight: 600;
    margin-bottom: 3%;
}
#signup p{
    font-family: PT Sans, Arial, Helvetica, sans-serif;
    color: #4c4c4c;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 3%;
}
#signup>div:nth-child(8){
    width: 20%;
    margin: auto;
}
#signup>div:nth-child(8)>button:hover{
    background-color: white;
    color: black;
}
#signup img{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
}
#signup>div:nth-child(7){
    width: 80%;
    margin: auto;
}


/* Login Page */

/* #backgroundLogo{
    width: 30%;
    margin: auto;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 8%;
} */
#login>div:nth-child(1){
    background-color: #000;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 20px;
    padding-top: 15px;
    margin-bottom: 5%;
    flex-wrap: wrap;
}
#login>div:nth-child(2){
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
#login>div:nth-child(3){
    width: 80%;
    margin: auto;
    display: flex;
    font-family: PT Sans, Arial, Helvetica, sans-serif;
    /* font-size: 10px; */
}
#login>div:nth-child(3)>img{
    width: 10%;
    height: 5%;
}
#login>div:nth-child(3)>a{
    font-size: 16px;
    font-weight: 400;
    color: black;
}
#login>div:nth-child(3)>a:hover{
    color: greenyellow;
}
#login>div:nth-child(4){
    width: 80%;
    margin: auto;
    margin-top: 5%;
}
#login>div:nth-child(5){
    color: #FFF;
    border-color: #2d5073;
    background-color: #3b5998;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
#login>div:nth-child(6){
    color: #FFF;
    border-color: #c23321;
    background-color: #dd4b39;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;                                                  
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
#login>div:nth-child(7)>p{
    font-family: PT Sans, Arial, Helvetica, sans-serif;
    color: #4c4c4c;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 3%;
    font-weight: bold;
}
#login>div:nth-child(7)>p+p{
    font-weight: 400;
}
#login>div:nth-child(7)>img{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
}
#login>div:nth-child(8){
    width: 40%;
    margin: auto;
}
#login>div:nth-child(8)>button:hover{
    background-color: white;
    color: black;
}


/* Forgot Password Main Page */

#forgotPassword>div:nth-child(1){
    background-color: #000;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 20px;
    padding-top: 15px;
    margin-bottom: 5%;
    flex-wrap: wrap;
}
#forgotPassword>div:nth-child(2){
    color: #FFF;
    border-color: #2d5073;
    background-color: #3b5998;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    /* line-height: 40px; */
}
#forgotPassword>div:nth-child(3){
    color: #FFF;
    border-color: #c23321;
    background-color: #dd4b39;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;                                                  
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    /* line-height: 40px; */
}
#forgotPassword>div:nth-child(4){
    width: 80%;
    margin: auto;
}
#forgotPassword>div:nth-child(4)>p{
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    display: inline;
    border-bottom: 1px solid #efefef;
    font-family: PT Sans, Arial, Helvetica, sans-serif;
    color: #4c4c4c;
}
#forgotPassword>div:nth-child(5){
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 5%;
}
#forgotPassword>div:nth-child(6){
    width: 80%;
    margin: auto;
}
#forgotPassword>div:nth-child(7){
    width: 80%;
    margin: auto;
    text-align: center;
}
#forgotPassword>div:nth-child(7)>img{
    width: 30%;
    margin-top: 2%;
}
#forgotPassword>div:nth-child(7)>p{
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: PT Sans, Arial, Helvetica, sans-serif;
}
#forgotPassword>div:nth-child(7)>p+p{
    font-family: PT Sans, Arial, Helvetica, sans-serif;
    color: #4c4c4c;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 500;
}
#forgotPassword>div:last-child{
    width: 80%;
    margin: auto;
}
#forgotPassword>div:last-child{
    width: 40%;
    margin: auto;
}
#forgotPassword>div:last-child>button:hover{
    background-color: white;
    color: black;
}


/* My Account Page */

#account{
    background-color: #437111;
    text-align: center;
    color: white;
    padding-bottom: 1%;
}
#account>h1{
    font-weight: 400;
}
#account>a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
#account>a:hover{
    border-bottom: 1px solid white;
}
#account span{
    color: white;
}
#para{
    width: 80%;
    margin: auto;
    padding: 2%;
    text-align: center;
}
#para>p{
    font-size: 14px;
    letter-spacing: .3px;
    padding: 15px 25px;
    background-color: #f9f9f9;
    line-height: 1.8;
    font-family: PT Sans, Arial, Helvetica, sans-serif;
    color: #4c4c4c;
}
#details{
    width: 80%;
    margin: auto;
    /* margin-top: 1%; */
    display: flex;
}
#details>div{
    width: 50%;
    /* padding: 3%; */
}
#details>div:first-child{
    border-right: 1px solid gray;
    padding-left: 5%;
    padding: 2%;
    /* text-align: center; */
}
#details>div:first-child>div:nth-child(1){
    color: #FFF;
    border-color: #2d5073;
    background-color: #3b5998;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    width: 80%;
    padding: 2%;
}
#details>div:first-child>div:nth-child(2){
    color: #FFF;
    border-color: #c23321;
    background-color: #dd4b39;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;                                                  
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    width: 80%;
    padding: 2%;
}
#details h4{
    font-size: 17px;
    font-family: "Merriweather Sans", sans-serif;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#details>div:first-child>:nth-child(3){
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
#details>div:first-child>:nth-child(3)>h2{
    font-size: 34px;
    font-family: PT Sans, 'MS Sans Serif', Geneva, sans-serif;
    color: #1b1919;
}
#details>div:first-child>:nth-child(4){
    display: flex;
    flex-direction: column;
    width: 80%;
}
#details>div:first-child>:nth-child(4)>label{
    margin-top: 1%;
}
#details>div:first-child>:nth-child(4)>input{
    margin-bottom: 5%;
    padding: 2%;
}
#accLogin,#accRegister{
    padding: 2%;
    width: 50%;
    margin: auto;
    background-color: white;
    font-weight: 600;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#accLogin:hover{
    background-color: black;
    color: white;
    border: 1px solid whitesmoke;
}
#accRegister:hover{
    background-color: black;
    color: white;
    border: 1px solid whitesmoke;
}
#details>div:last-child{
    text-align: center;
    padding: 2%;
}
#footer{
    padding-top: 20px; 
    margin-top: 70px;
     height: 270px;
     background-color: #708949
     
 }
 #footer>:first-child{
     
    width: 75%;
     padding-right: 80px;
     padding-bottom: 15px;
     margin: auto;
     margin-top: 10px;
     display: flex;
     justify-content: space-between;
    border-bottom: 1px solid rgb(78, 72, 72)
 }
 #useless>div{
     font-weight: bold;
 }
 #useless>div:hover{
    cursor: pointer;
    color: #b43238
 }
 #media>a>img:hover{
    transition: transform .3s; 
    transform: scale(1.1)
     
 }
 #last{
    border: px solid ;
    width: 75%;
    padding-right: 80px;
    padding-bottom: 15px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
     
 }
 #last>img{
    margin-right: -59px;
    width: 80px;
 }


/* Media queries */

@media all and (min-width:750px) and (max-width:1024px){
    #signup, #login, #forgotPassword{
        margin-left: 55%;
        width: 45%;
        height: 100%;
    }
}

@media all and (min-width:150px) and (max-width:750px){
    #signup, #login, #forgotPassword{
        margin-left: 20%;
        width: 80%;
        height: 100%;
    }
    #para{
        width: 90%;
    }
    #details{
        width: 120%;
        flex-direction: column;
    }
    #details>div{
        width: 100%;
        /* padding: 3%; */
    }
    #details>div:first-child{
        border-right: 0px solid gray;
        width: 100%;
    }
    hr{
        margin-top: 8%;
        margin-bottom: 8%;
    }
}